body{
     text-align:center;
    background: linear-gradient(#d1fa2d 0%, #f72f72 100%); 
}
.fuopton{
  display: flex;
    justify-content: center;}
img{
    height: 300px;
        width: 300px;
    border: 10px;
        border-color: aqua;
}
p{
   text-align:center; 
}
.fuopton2.0style{
    margin-right: 25px;
    margin-left: 25px;
    width:50%ss;
}